## Data Collection
Predicting total colony forming units (CFU) from particle counts, time of day, weather, percentage of outdoor particulates, or location.

Goal: Organize your data to streamline the next steps of your capstone.

■ Data loading
■ Data joining

In [1]:
#importing the tools
import pandas as pd
import datetime as dt
import numpy as np
import os
import glob
from fuzzywuzzy import fuzz
from fuzzywuzzy import process
import matplotlib.pyplot as plt

In [2]:
#Data loading
data = pd.read_excel(r'data\filt_cfus.xlsx', sheet_name = [0,3,4])

dfIC = pd.read_excel('data\VADIC.xlsx', sheet_name = [1], index_col=0, parse_dates=True)
dfMC = pd.read_excel('data\VADMC.xlsx', sheet_name = [0], index_col=0, parse_dates=True)


# dfMC is both hospital's particle air sampling data.
# dfIC is Infection Control's particle air sampling data.
# dfAHA is both hopsital's ad hoc particle air sampling data.

# Cleaning and unifying CFU data

In [3]:
for key in data:
     print(key, data[key].head())

0                   Date           location  cfu
0  2018-11-30 00:00:00   Inside Room L108    1
1  2018-11-30 00:00:00     ED Parking lot   34
2  2010-11-30 00:00:00  unused agar strip    0
3  2018-11-29 00:00:00  unused agar strip    0
4  2018-11-29 00:00:00   Inside Room L108    0
3         Date           location  cfu
0 2018-11-27  UNUSED AGAR STRIP    0
1 2018-11-27             11L NS    2
2 2018-11-27            11L SEC    5
3 2018-11-27             10M NS    1
4 2018-11-27           9MICU NS    2
4         Date                           location  cfu
0 2018-09-14  B1-C6 Balcony   BMT/Hem Onc Spine    1
1 2018-09-14             B1-A6 Balcony by A6577    1
2 2018-09-14             B1-A5 Balcony by A5577    2
3 2018-09-14             B1-A4 Balcony by A4577    1
4 2018-09-14             B1-C4 Balcony by C4877    2

In [4]:
adhoc = pd.DataFrame(data[0])
ml = pd.DataFrame(data[3])
mb = pd.DataFrame(data[4])

print("\n ml: \n", ml.dtypes, ml.shape, "\n ad hoc: \n",adhoc.dtypes,adhoc.shape,"\n mb: \n", mb.dtypes, mb.shape)

 ml:
 Date        datetime64[ns]
location            object
cfu                  int64
dtype: object (1403, 3)
 ad hoc:
 Date        object
location    object
cfu          int64
dtype: object (2532, 3)
 mb:
 Date        datetime64[ns]
location            object
cfu                  int64
dtype: object (1219, 3)

In [5]:
adhoc['Date'] = pd.to_datetime(adhoc['Date'])
adhoc['Date']

0      2018-11-30
1      2018-11-30
2      2010-11-30
3      2018-11-29
4      2018-11-29
          ...
2527   2004-02-03
2528   2004-02-03
2529   2004-02-03
2530   2004-02-03
2531   2004-02-03
Name: Date, Length: 2532, dtype: datetime64[ns]

In [6]:
adhoc['Source'] = 'adhoc'
ml['Source'] = 'ML'
mb['Source'] = 'MB'

In [7]:
print("\n ml", ml.dtypes, "\n ad hoc",adhoc.dtypes,"\n mb", mb.dtypes)
adhoc['cfu'].unique()

 ml Date        datetime64[ns]
location            object
cfu                  int64
Source              object
dtype: object
 ad hoc Date        datetime64[ns]
location            object
cfu                  int64
Source              object
dtype: object
 mb Date        datetime64[ns]
location            object
cfu                  int64
Source              object
dtype: object

array([ 1, 34,  0,  9,  3,  2,  5, 27, 14,  4, 11, 24, 22,  7, 23, 19, 20,
        8, 13, 12, 28, 10, 17, 18, 30,  6, 16, 15, 31, 26, 25, 21, 86, 46,
       32, 29, 33, 39], dtype=int64)

In [8]:
cfu_df = pd.DataFrame(pd.concat([adhoc, ml, mb]))
cfu_df.head(), cfu_df.shape

(        Date           location  cfu Source
 0 2018-11-30   Inside Room L108    1  adhoc
 1 2018-11-30     ED Parking lot   34  adhoc
 2 2010-11-30  unused agar strip    0  adhoc
 3 2018-11-29  unused agar strip    0  adhoc
 4 2018-11-29   Inside Room L108    0  adhoc,
 (5154, 4))

In [9]:
cfu_df.describe()
cfu_df.info()
len(cfu_df.location.unique())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5154 entries, 0 to 1218
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      5154 non-null   datetime64[ns]
 1   location  5153 non-null   object
 2   cfu       5154 non-null   int64
 3   Source    5154 non-null   object
dtypes: datetime64[ns](1), int64(1), object(2)
memory usage: 201.3+ KB

1754

# Time for the Air particulate data

In [12]:
ic = pd.DataFrame(dfIC[1].reset_index())
mc = pd.DataFrame(dfMC[0].reset_index())

In [13]:
print("\n ic: \n", ic.dtypes, ic.shape, "\n mc: \n",mc.dtypes,mc.shape)

 ic:
 Sampling Date            datetime64[ns]
Sample Location                  object
Temp                             object
RH                              float64
Particle (total >.3)            float64
Particle (>.5 per m3)           float64
Time of Sampling                float64
Traffic                          object
SF Gate Weather                  object
Notes                            object
dtype: object (334, 10)
 mc:
 Sampling Date            datetime64[ns]
Sample Location                  object
Temp                            float64
RH                              float64
Particle (total >.3)            float64
Particle (>.5 per m3)           float64
Time of Sampling                 object
Traffic                         float64
SF Gate Weather                  object
Notes                            object
dtype: object (2406, 10)

In [14]:
#Renaming and unifying column names
ic = ic.rename(columns={"Sampling Date":"Date",
                            "Sample Location":"location",
                            "Particle (total >.3)":"Total_Particles>0.3",
                            "Particle (>.5 per m3)":"Total_Particles>0.5/m3",
                            "Time of Sampling":"Sample_Time",
                            "SF Gate Weather":"Weather",
                            "Percentage .3 over .5":"Ratio_0.3/0.5"})
mc = mc.rename(columns={"Sampling Date":"Date",
                            "Sample Location":"location",
                            "Particle (total >.3)":"Total_Particles>0.3",
                            "Particle (>.5 per m3)":"Total_Particles>0.5/m3",
                            "Time of Sampling":"Sample_Time",
                            "SF Gate Weather":"Weather",
                            "Percentage .3 over .5":"Ratio_0.3/0.5"})

print(mc.keys(),ic.keys())

Index(['Date', 'location', 'Temp', 'RH', 'Total_Particles>0.3',
       'Total_Particles>0.5/m3', 'Sample_Time', 'Traffic', 'Weather', 'Notes'],
      dtype='object') Index(['Date', 'location', 'Temp', 'RH', 'Total_Particles>0.3',
       'Total_Particles>0.5/m3', 'Sample_Time', 'Traffic', 'Weather', 'Notes'],
      dtype='object')

In [15]:
print(len(ic.location.unique()), len(mc.location.unique()),ic.location.unique(),mc.location.unique())

ic.shape, mc.shape

160 123 ['Hallway by Nursing Station outside plastic Barrier 14M'
 'Outside of double-doors in long corridor labeled with sign "Staff Only Do Not Enter." These doors are immediately adjacent to 15L north hallways and 15L waiting room. '
 'Immediately outside of construction barricade, inside area labedled "Staff Only Do Not Enter".'
 'Outside 15M west stairwell (barricaded, emergency exit only from construction area).'
 'Outside 15M east stairwell (barricaded, emergency exit only from construction area).'
 'ED Parking Lot' 'Inside 6 Moffitt South (M618) ICC nursing station'
 'Inside 6 Moffitt South ICC Bed 1' 'Inside 6 Moffitt South ICC Bed 10'
 'Inside 6 Moffitt South ICC Bed 5' 'Inside 6 Moffitt Sout ICC Bed 9'
 'Outside Construction barrier' 'Outside double doors to 12N (cath lab)'
 'Inside unit 12N' 'Hallway 12S Corridor'
 'Room J146 Mammography Waiting Room' 'Mt. Zion Shuttle Stop'
 'Right side hall next to reception desk 8NICU'
 'Left side hall next to reception desk 8NICU'
 'Inisde the North double doors into 8L'
 'Inside the South double doors of 8L' 'MBH BMT Inside room 7'
 'MBH BMT Directly Outside Room 7'
 'MBH BMT To the right side of room 7 door'
 'MBH BMT To the left side of room 7 door' 'MBH BMT Inside room 8'
 'MBH BMT Directly outside Room 8'
 'MBT BMT To the right side of room 8 door'
 'MBH BMT To the left side of room 8 door' 'MBH Shuttle Stop'
 'Mammorgraphy waiting room J146' 'Main hallway J115' 'X-Ray room J140'
 'Dressing Room J147' 'Inside 6 Moffit South (M618) ICC nursing station'
 'Inside 6 Moffit South ICC Bed 1' 'Inside 6 Moffit South ICC Bed 10'
 'Outside the construction barricade 5th Floor Moffit Lab'
 'Near blood bank window 5th floor Moffit' 'Inside room L 108'
 'Hallway outside M618' 'Outside Bed 13 - 14 9 ICU' 'Nursing station 14M'
 'M14 Nursing station' 'Hallway outside M1421'
 '9ICU Hallway outside beds 9-10' 'Adjoining hallway 14M North wing'
 'Adjoining hallway 14M East wing'
 'ACC 2nd Floor Surgical Faculty clinic waiting room'
 'Hallway outside LP286' 'C3804' 'C3810' 'C3817'
 'Room 15 (C4751) in the PICU' '1855 entrance'
 '13ICU hallway outside Bed 7-8'
 'Hallway near nursing station outside of construction barriers L1222'
 'Hallway outside L1263' 'Hallway outside L508 (Cath Lab)'
 'Hallway outside 9ICU bed 7'
 'MBH Peds Dialysis Outside Tech Room Door M5202' 'Hallway outside M824'
 '13ICU hallway outside bed 5' '9ICU nursing station near M901C'
 '350 Parnassus Suite 300 by Reception Area'
 '350 Parnassus Suite 300 Just Outside Containment'
 'Endoscopy Inside L 108 outside the construction barrier'
 'Hallway outside bed 11 9ICU' '11NICU Hallway outside rooms 1 and 2'
 '10ICC Hallway outside bed 10' 'Hallway outside A651'
 'Outside door of A610' 'Reception Desk clinic A610'
 'Outside door frame of M524' 'Inside M524 by first sink on right'
 '12th floor Moffit, 1283A, outside of door leading into construction area (to left of corridor construction barrier)'
 '11NICU hallway outside bed 6'
 'Public corridor, outside doors leading into construction area'
 'Non-public east corridor (behind construction area) leading to stairwell (vertical egress)'
 '11 NICU Hallway Outside Room 3 & 4'
 'MLOR 9, adjacent to OR bed, near middle of bed'
 'Substerile 8/9 (near OR 9 entry point)'
 'Semi-restricted corridor outside OR 9'
 'Adjacent MLOR 9/10 Pump Room (near entry point from Pump Room to OR 9)'
 'Inside room M104J Surgical waiting area'
 'Inside Room M104K surgical waiting area'
 'Hallway outside plastic barrier 14M' 'Hallway outside 1414M'
 '10ICC Hallway outside rm 9' '10ICC hallway outside rm 2'
 '10ICC inside rm 2' 'Inside 10 ICC Bed 9'
 '11Long North hallway corrider by nursing station'
 '11L south Hallway Corrider by nursing staion'
 'Outside airway lock before entrance unit by double doors'
 'inside airway lock between double doors'
 'Past double doors in hallway of unit'
 'End of south hallway near entrance to stairs with stairway door closed'
 'End of south hallway near entrance to stairs with stairway door open'
 'In room L1174' 'In room L1173' 'In room L1172' 'In room L1168'
 'In room L1166' 'In room L1164' 'In room L1163' 'In room L1162'
 'In room L1159' 'In room L1156' 'In room L1155' 'In room L1153'
 'In room L1151' 'In room L1145' 'In room L1139' 'In room L1135'
 'In room L1132' 'In room L1131' 'In room L1129' 'In room L1127'
 'In room L1125' 'In room L1122' 'In room L1118' 'In room L1116'
 'In room L1114' 'In room L1112' 'In room L11?? (East)'
 'In room L11?? (West)' 'In room L1104' 'Hallway outside room A515E'
 'Near 2nd cement poll by front desk/windows' 'ED parking Lot'
 '10ICC Hallway Outside Bed 7' '10 ICC Hallway Outside Bed 8'
 '11NICU hallway outside Bed 2' '13ICU hallway outside bed 7'
 'Hallway outside Bed 16 11NICU' 'Hallway outside M1486'
 'Hallway outside bed 11 and 11NICU'
 'Parnassus Endoscopy Break Room(to right of check-in/out and waiting room)'
 'Parnassus Endoscopy, L106 (outside of door, in public corridor)'
 'Hb021, at the entry/exit point into the vault'
 'HB018, at the entry/exit point into the vault'
 'HB004 (Inside this treatment room)'
 'HB006 (Inside this treatment room) '
 "HB046 (Nurse's Station) in the public corridor in front on the Nurse's station window opening"
 'Public corridor outside HB047'
 'HB036 (Family waiting arewa, carpeted space)'
 'Public corridor, Long hallway L1059'
 'Public corridor, Long hallway L1064'
 'Public corridor, Long hallway L1019'
 'Public corridor, Long hallway (south hallway of 10L) right before smoke door barriers'
 'Public Corridor, Long hallway (10L south hallway) Backside of construction area entry/exit point'
 'Public corridor, Long hallway (north Hallway of 10L)'
 'Mammography waiting room J146' 'Mt Zion Shuttle Stop'
 'AC05 Radiology Waiting Room' 'ACC 5th Floor hallway outside of A592'
 'ACC 5th Floor hallway outside of A548' 'Hallway outside L52'
 'Hallway outside L75'] ['Long 26' 'Long 53' '11 Long Nursing Station' '11 Long Service Elevator'
 '9 Long Nurses Station' '9 Long Service Elevator'
 '9 Long ICU Nurses Station' '10 ICC Nurses Station' 'ED Parking Lot'
 'Balcony by A6577' 'Balcony by A5577' 'Balcony by A4577'
 'Terrace Door across fr. C5433' 'Terrace Door across fr. C5411'
 'Outside Door across fr. C5433' 'Terrace Door by C4617'
 'Terrace Door by C4625' 'Terrace Door by C4828' 'Outside Door by C4828'
 'Balcony BMT/Hem Onc Spine' 'Balcony by C6877'
 'Balcony Msurge/CTCU Spine' 'Balcony by C5877' 'Balcony by C4877'
 'Balcony by C4899A' 'Terrace Door by C3899' 'Terrace Door by A3879'
 'Rad Onc Waiting Area/Lobby' 'Hem Onc by C6801 (North)'
 'Hem Onc by C6899 (South)' 'Hem Onc by C6847A' 'Hem Onc C6S81'
 'Hem Onc C6S80' 'Hem Onc by C6827' 'Hem Onc by C6807' 'Hem Onc by C6808'
 'Hem Onc by C6835' 'Hem Onc by C6838' 'BMT by C6971 (North)'
 'BMT by C6958 (Central)' 'BMT by C6971 (South)' 'BMT North Entrance'
 'BMT by C6976 (North)' 'BMT by C6984 (Central)' 'BMT Central Entrance'
 'BMT by C6913 (Central)' 'BMT South Entrance' 'BMT By C6901 (South)'
 'BMT by C6924' 'BMT C6S91' 'BMT C6S90' 'MBH Shuttle Stop'
 '9 Moffitt ICU Nurses Station' 'BMT by C6958 ' 'BMT by C6971 '
 'Hem Onc by C6S81' 'Hem Onc by C6S80' 'Terrace Door across from C5433'
 'Terrace Door across from C5411' 'Outside Door across from C5433'
 '9 Long Service Station' 'Outside Door by  C4828' 'BMT by C6915 (South)'
 'Hem Onc by C6801(South)' 'BMT by C6913 (North)' 'BMT by C6901 (South)'
 'Balcony B1-A6 by A6577' 'Balcony B1-A5 by A5577'
 'Balcony B1-A4 by A4577'
 'Garden Terrace Door Corridor GT1-C4 across fr. C5433'
 'Garden Terrace Door Corridor GT2-C5 across fr. C5411'
 'Outside Doors OGT3-C5 across fr. C5433 outside double doors '
 'Garden Terrace Door Unit Corridor GT1-C4 by C4617'
 'Garden Terrace Door Corridor GT2-C4 by C4625'
 'Garden Terrace Door Corridor GT3-C4 by C4828'
 'Outside Doors OGT4-C4 by C4828'
 'Balcony B1-C6 Between BMT/Hem Onc Spine' 'Balcony B2-C6 by C6877'
 "Balcony B2-C5 Between Children's Msurge/CTCU Spine"
 'Balcony B2-C5 by C5877' 'Balcony B1-C4 by C4877'
 'Balcony B2-C4 in C4899A Anteroom'
 'Garden Terrace Corridor GT1-C3 by C3899'
 'Garden Terrace Corridor GT2-C3 by A3879' 'Rad Onc Waiting Area/Lobby '
 'Hem Onc by C6801 Inside double doors (North Entrance)'
 'Hem Onc by C6899 Inside double doors (South Entrance)'
 'Hem Onc In unit by emergency stairwell by C6847A'
 'Hem Onc Emergency stairwell area of refuge C6S81'
 'Hem Onc Emergency Stairwell C6S80' 'Hem Onc Reception desk by C6827'
 'Hem Onc Team Station by C6807A' 'Hem Onc Team Station by C6808'
 'Hem Onc Team Station by C6835' 'Hem Onc Team Station by C6838'
 'BMT North Team Station by C6971 ' 'BMT Central Team Station By C6958'
 'BMT South Team Station by C6915 '
 'BMT North Entrance Outside double doors'
 'BMT North Entrance In between double doors '
 'BMT North Entrance Inside double doors by C6976 '
 'BMT Central Entrance Outside double doors by C6984 '
 'BMT Central Entrance In between double doors '
 'BMT Central Entrance Inside double doors by C6913'
 'BMT South Entrance Outside double doors'
 'BMT South Entrance In between double doors '
 'BMT South Entrance Inside double doors By C6901'
 'BMT In Unit by Emergency stairwell by C6924'
 'BMT Emergency stairwell Area of Refuge by C6S91'
 'BMT Emergency stairwell by C6S90'
 '499 Illinois 6th Floor by Terrace Door' 'Outside of Terrace Door'
 '6th Floor Elevator Lobby' '499 Illinois Outside of Main Entrance'
 'Inside C4899A by Terrace Door' 'Outside of C4899A Terrace'
 '4th Floor Elevator Lobby' 'Miss Bay Hospital Outside Adult Lobby Doors'
 'Long 53/53' '7 Long BMT' '7 Long Nurses Station'
 '7 Long Service Elevator' '10 IC/ICC ']

((334, 10), (2406, 10))

In [17]:
#merging the particulate data now that they are in the same format
part_df = pd.DataFrame(pd.concat([ic, mc]))

part_df.index = part_df['Date']
part_df.head(), part_df.shape

(                 Date                                           location  \
 Date
 2018-01-03 2018-01-03  Hallway by Nursing Station outside plastic Bar...
 2019-04-03 2019-04-03  Outside of double-doors in long corridor label...
 2019-04-03 2019-04-03  Immediately outside of construction barricade,...
 2019-04-03 2019-04-03  Outside 15M west stairwell (barricaded, emerge...
 2019-04-03 2019-04-03  Outside 15M east stairwell (barricaded, emerge...

             Temp     RH  Total_Particles>0.3  Total_Particles>0.5/m3  \
 Date
 2018-01-03  72.9   38.0             108659.0               2167314.0
 2019-04-03    68  155.0              20945.0               1778622.0
 2019-04-03    71  150.0              22199.0               1682156.0
 2019-04-03  72.8  148.0              41271.0               1401414.0
 2019-04-03  68.7  146.0              41727.0               1603004.0

            Sample_Time Traffic        Weather Notes
 Date
 2018-01-03        1121       1  Mostly Cloudy   NaN
 2019-04-03        1138       3         Cloudy   NaN
 2019-04-03        1143       1         Cloudy   NaN
 2019-04-03        1150       0         Cloudy   NaN
 2019-04-03        1155       0         Cloudy   NaN  ,
 (2740, 10))

# Time for merging

In [20]:
#fixing the index
cfu_df = cfu_df.set_index('Date')
cfu_df.index, part_df.index

(DatetimeIndex(['2018-11-30', '2018-11-30', '2010-11-30', '2018-11-29',
                '2018-11-29', '2018-11-29', '2018-11-20', '2018-11-20',
                '2018-11-20', '2018-11-20',
                ...
                '2015-01-23', '2015-01-23', '2015-01-23', '2015-01-23',
                '2015-01-23', '2015-01-23', '2015-01-23', '2015-01-23',
                '2015-01-23', '2015-04-07'],
               dtype='datetime64[ns]', name='Date', length=5154, freq=None),
 DatetimeIndex(['2018-01-03', '2019-04-03', '2019-04-03', '2019-04-03',
                '2019-04-03', '2019-04-03', '2019-03-26', '2019-03-26',
                '2019-03-26', '2019-03-26',
                ...
                '2007-07-31', '2007-07-31', '2007-07-31', '2007-07-31',
                '2007-07-31', '2007-07-31', '2007-07-31', '2007-07-31',
                '2007-07-31', '2007-07-31'],
               dtype='datetime64[ns]', name='Date', length=2740, freq=None))

In [21]:
df = part_df.merge(cfu_df,  how='left', on=['location'])
df

,Date,location,Temp,RH,Total_Particles>0.3,Total_Particles>0.5/m3,Sample_Time,Traffic,Weather,Notes,cfu,Source
0,2018-01-03,Hallway by Nursing Station outside plastic Bar...,72.9,38.0,108659.0,2167314.0,1121,1,Mostly Cloudy,NaN,NaN,NaN
1,2019-04-03,Outside of double-doors in long corridor label...,68,155.0,20945.0,1778622.0,1138,3,Cloudy,NaN,NaN,NaN
2,2019-04-03,"Immediately outside of construction barricade,...",71,150.0,22199.0,1682156.0,1143,1,Cloudy,NaN,NaN,NaN
3,2019-04-03,"Outside 15M west stairwell (barricaded, emerge...",72.8,148.0,41271.0,1401414.0,1150,0,Cloudy,NaN,NaN,NaN
4,2019-04-03,"Outside 15M east stairwell (barricaded, emerge...",68.7,146.0,41727.0,1603004.0,1155,0,Cloudy,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
25982,2007-07-31,ED Parking Lot,65.4,61.3,361025.0,NaN,NaN,1,Foggy and Windy,NaN,18.0,adhoc
25983,2007-07-31,ED Parking Lot,65.4,61.3,361025.0,NaN,NaN,1,Foggy and Windy,NaN,3.0,adhoc
25984,2007-07-31,ED Parking Lot,65.4,61.3,361025.0,NaN,NaN,1,Foggy and Windy,NaN,4.0,adhoc
25985,2007-07-31,9 Long ICU Nurses Station,NaN,NaN,26603.0,NaN,NaN,2,Foggy and Windy,NaN,NaN,NaN
25986,2007-07-31,10 IC/ICC,NaN,NaN,3673.0,NaN,1300,2,Foggy and Windy,NaN,NaN,NaN

In [22]:
df.describe

<bound method NDFrame.describe of             Date                                           location  Temp  \
0     2018-01-03  Hallway by Nursing Station outside plastic Bar...  72.9
1     2019-04-03  Outside of double-doors in long corridor label...    68
2     2019-04-03  Immediately outside of construction barricade,...    71
3     2019-04-03  Outside 15M west stairwell (barricaded, emerge...  72.8
4     2019-04-03  Outside 15M east stairwell (barricaded, emerge...  68.7
...          ...                                                ...   ...
25982 2007-07-31                                     ED Parking Lot  65.4
25983 2007-07-31                                     ED Parking Lot  65.4
25984 2007-07-31                                     ED Parking Lot  65.4
25985 2007-07-31                          9 Long ICU Nurses Station   NaN
25986 2007-07-31                                         10 IC/ICC    NaN

          RH  Total_Particles>0.3  Total_Particles>0.5/m3 Sample_Time Traffic  \
0       38.0             108659.0               2167314.0        1121       1
1      155.0              20945.0               1778622.0        1138       3
2      150.0              22199.0               1682156.0        1143       1
3      148.0              41271.0               1401414.0        1150       0
4      146.0              41727.0               1603004.0        1155       0
...      ...                  ...                     ...         ...     ...
25982   61.3             361025.0                     NaN         NaN       1
25983   61.3             361025.0                     NaN         NaN       1
25984   61.3             361025.0                     NaN         NaN       1
25985    NaN              26603.0                     NaN         NaN       2
25986    NaN               3673.0                     NaN        1300       2

               Weather Notes   cfu Source
0        Mostly Cloudy   NaN   NaN    NaN
1               Cloudy   NaN   NaN    NaN
2               Cloudy   NaN   NaN    NaN
3               Cloudy   NaN   NaN    NaN
4               Cloudy   NaN   NaN    NaN
...                ...   ...   ...    ...
25982  Foggy and Windy   NaN  18.0  adhoc
25983  Foggy and Windy   NaN   3.0  adhoc
25984  Foggy and Windy   NaN   4.0  adhoc
25985  Foggy and Windy   NaN   NaN    NaN
25986  Foggy and Windy   NaN   NaN    NaN

[25987 rows x 12 columns]>

In [23]:
df.isnull().sum()

Date                          0
location                      0
Temp                       1687
RH                         1687
Total_Particles>0.3         365
Total_Particles>0.5/m3     7805
Sample_Time                6957
Traffic                     145
Weather                    2914
Notes                     25573
cfu                        1235
Source                     1235
dtype: int64

In [ ]:
#ask DJ how to get the titles of columns to stop adding. (dates, dates_x, dates_y)
print(df_particulate.keys())

In [ ]:
#df_melt = pd.melt(dfW, id_vars=['Date'], var_name='Location',value_name='CFU')
#df_cfu= pd.DataFrame()
#df_to_merge = [dfW,dfE,dfAH]

#for df in df_to_merge:
#    df=pd.melt(df, id_vars=['Date'], var_name='Location',value_name='CFU')
print(df_to_merge)

In [ ]:
#merging the CFU data now that they are in the same format
df_all = df_particulate.merge(df_CFU, how='outer', on=['Date','Location'])
df_all

In [ ]:
dftest = df_all.dropna(how='all')
dftest

In [ ]:
#dfE.reset_index()
dftest = df_all.set_index(['Date','Location'])
print(dftest.head())

In [ ]:
df_all.isnull().sum()

Many locations are named in differing patterns, or the room number is in the prior sample(s).

## Data Organization
Create a file structure and add your work to the GitHub repository you’ve created for this project.

In [ ]:
the_list = pd.DataFrame()
the_list = the_list.append(df) for df in df_list
    
print(the_list)

In [ ]:
result = pd.concat(df_list)

## Data Definition
Goal: Gain an understanding of your data features to inform the next steps of your project.

## Data Cleaning
Goal: Clean up the data in order to prepare it for the next steps of your project